<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>js-html-css-boolzap</title>
</head>
<body>

    <div id="app">

        <div class="container">
            <!-- MAIN -->
            <div class="main">

                <div class="main-user">
                    <div>
                        <img :src="contacts[contactIndex].avatar" class="padding-10">
                        <div class="main-name">
                            <div class="font-22">
                                {{contacts[contactIndex].name}}
                            </div>
                            <div class="grey">
                                Ultimo accesso in data {{lastLogIn(contactIndex)}}
                            </div>
                        </div>
                    </div>
                    <div class="inline-block">
                        <i class="fas fa-search fa-style"></i>
                        <i class="fas fa-paperclip fa-style"></i>
                        <i class="fas fa-ellipsis-v fa-style"></i>
                    </div>
                </div>
                
                <div class="main-content">
                    <div v-for='el in contacts[contactIndex].messages' :class="displayMessage(el)">
                        {{el.text}}
                    </div>
                </div>
                
            </div>
            <!-- /MAIN -->

            <!-- SIDEBAR -->
            <div class="sidebar">

                <div class="top-sidebar">
                    <div>
                        <img src="img/avatar_io.jpg" class="padding-10">
                        <div class="user-name font-22 inline-block">
                           Nome Utente 
                        </div>
                    </div>
                    <div class="inline-block">
                        <i class="fas fa-circle-notch fa-style"></i>
                        <i class="fas fa-comment-alt fa-style"></i>
                        <i class="fas fa-ellipsis-v fa-style"></i>
                    </div>
                </div>

                <div class="notifications">
                    <div class="bell-container inline-block">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="inline-block">
                        <div class="n-text-1">
                            Ricevi notifiche di nuovi messaggi
                        </div>
                        <div class="n-text-2">
                            <a>Attiva notifiche desktop</a> 
                        </div>
                    </div>
                </div>

                <div class="search-bar">
                    <i class="fas fa-search grey"></i>
                    <input type="text" v-model="searchBar" @input="searchContact" placeholder="Cerca o inizia una nuova chat">
                </div>

                <div class="user-container">
                    
                    <div class="users padding-10" v-for="(el, i) in contacts" v-if='(el.visible === true)' @click="selectedUser(i)">
                        <img :src="el.avatar">
                        <span>{{el.name}}</span>
                    </div>
                    
                </div>
                
            </div>
            <!-- /SIDEBAR -->

            <!-- FOOTER -->

            <div class="box-bottom">

                <i class="far fa-smile bottom-left"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="activeMessage" v-on:keyup.enter="messagePush">
                <i class="fas fa-microphone bottom-right"></i>

            </div>

            <!-- /FOOTER -->
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>